<div class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Invernaderos CECYT 1</h1>
            <h3 class="mb-5">
                <em>Monitorea tus Invernadores desde donde estes</em>
            </h3>
            <a href="/app/monitor/w" class="btn btn-success">
            <i class="fa-solid fa-seedling"></i>
            Comienza a monitorear</a>
        </div>
    </header>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light shadow-sm">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Aveces el tiempo te impide</h1>
    <p class="lead font-weight-normal">Muchas veces ni el tiempo tenemos de cuidar un par de plantas, con esto en mente hemos diseñado este sistema de invernaderos.</p>
    <a class="btn btn-outline-success" href="/app/signup">
        <i class="fa-solid fa-sun-plant-wilt"></i> Registrate</a>
  </div>
  <div class="hourglass d-none d-md-block"><i class="fa-regular fa-hourglass-half fa-5x"></i> </div>
  <div class="calendar d-none d-md-block"><i class="fa-regular fa-calendar-days fa-5x"></i></div>
    <img src="/img/inv.jpg" alt="" class="rounded d-block inv mx-auto">
</div>

<div class="shadow d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Utilizando Conectividad 4G LTE y WIFI</h2>
      <p class="subtitle">Para un mayor alcance y poder visualizar desde donde sea.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="/img/wifi.svg" alt="WIFI" id="wifiSVG">
        <img src="/img/cellular.svg" alt="4G Standard" id="gSVG">
    </div>
  </div>

  <div class="bg-light shadow mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Actua desde donde sea</h2>
      <p class="subtitle">Con sistemas de actuadores remotos, como bombas, motores</p>
    </div>
    <div class="mx-auto" style="width: 100%; height: 70%; border-radius: 1% 1% 0 0; ">
        <img src="/img/motor.svg" alt="Motor Icon" id="motorSVG" style="margin-right: 10%;">
        <img src="/img/water.svg" alt="Water" id="waterSVG">
    </div>
  </div>
</div>



<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 5IM52 CECYT 1 2022</small>
    </div>
    <div class="col-6 col-md">
      <h5>Acerca De</h5>
      <ul class="list-unstyled text-small">
        <li><a class="badge badge-danger" href="https://ipn.mx"><i class="fa-solid fa-school"></i> IPN</a></li>
        <li><a class="badge badge-primary" href="https://cecyt1.ipn.mx"><i class="fa-solid fa-school"></i> CECyT 1</a></li>
        <li><a class="badge badge-secondary" href=""> <i class="fa-brands fa-instagram"></i> Main Dev</a></li>
        <li><a class="badge badge-alert" href="#"><i class="fa-solid fa-book"></i> Docs</a></li>
      </ul>
    </div>
  </div>
</footer>