

 <div class="row">   
    <div class="col-md-4 m-auto pt-5">
        <div class="text-center mb-4 text-wrap">
            <img class="mb-4" src="/img/logo.png" alt="" width="128" height="128">
            <h1 class="h3 mb-3 font-weight-normal">Perfil</h1>

            <h2 class="m-4">Nombre: {{fullname}}</h2>
            <h2 class="m-2">Usuario: {{username}}</h2>
            <h2>Correo: {{email}}</h2>
        </div>

        <p class="mt-1 mb-0 text-muted text-center">&copy; CECyT 1 5IM52 2022</p>
    </div>
</div>