 <head>
    <link href="/css/sign.css" rel="stylesheet">
 </head>
 
 <div class="signWrap shadow">   
    <form class="form-signin" action="/app/signup" method="post">
    <div class="text-center mb-4 text-wrap">
        <img class="mb-4" src="/img/logo.png" alt="" width="128" height="128">
        <h1 class="h3 mb-3 font-weight-normal">Registro a Invernaderos
        <br>CECYT 1</h1>
        <p>Realiza tu registro para acceder a la plataforma</p>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputName" name="fullname" class="form-control" placeholder="Nombre Completo" required autofocus>
        <label for="inputName"><i class="fa-regular fa-address-card"></i> Nombre Completo</label>
    </div>
    
    <div class="form-label-group">
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Correo Electrónico" required>
        <label for="inputEmail"><i class="fas fa-envelope icon"></i> Correo Electrónico</label>
    </div>

    <div class="form-label-group">
        
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Usuario" required>
        <label for="inputUsername"><i class="fas fa-user icon"></i> Usuario</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña" required>
        <label for="inputPassword"><i class="fas fa-key icon"></i> Contraseña</label>
    </div>

    <button class="btn btn-lg btn-success btn-block" type="submit">
        <i class="fa-solid fa-sun-plant-wilt">
        </i>    Registrarse</button>

    <p class="mb-0 p-0 text-center"> <br> Al registrate aceptas las Condiciones de Uso y la Política de Privacidad</p>
    <div class="text-center mt-0 mb-0 p-0">
        <p>¿Ya tienes una cuenta? <a class="badge badge-dark" href="/app/signin">Iniciar Sesion</a></p>
    </div>
    <p class="mt-1 mb-0 text-muted text-center">&copy; CECyT 1 5IM52 2022</p>
    </form>
</div>